<div class="container-fluid p-5">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="row justify-content-center text-turquoise-dark text-center">
                <h1>Carrito de Compras</h1>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 px-5 col-lg-8">
            <div class="rounded-p bg-turquoise car-items">

                <div *ngFor="let item of items , index as i" class="row p-5 m-0">
                    <div class="col-1 pt-4 text-white">
                        <i class="fas fa-2x fa-dot-circle"></i>
                    </div>
                    <div class="col-2  text-turquoise-dark">
                        <i class="fas fa-6x bg-white fa-heart rounded-p"></i>
                    </div>
                    <div class="col-9 pl-5 text-white">

                        <div class="row">
                            <div class="col-6">
                                <h5>Orden</h5>
                            </div>
                            <div class="col-6">
                                <h5>#{{i+1}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h5>Para</h5>
                            </div>
                            <div class="col-6">
                                <h5>{{item.form.receiver_name}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h5>Fecha</h5>
                            </div>
                            <div class="col-6">
                                <h5>{{item.order.date | date : 'dd/MM/yyyy'}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h5>Presupuesto</h5>
                            </div>
                            <div class="col-6">
                                <h5>{{item.order.price | currency : 'CRC':'symbol-narrow':'.0-0'}}</h5>
                            </div>
                        </div>
                        <div class="row my-3">

                            <div class="offset-6 col-6">
                                <button (click)="deleteItem(i)" type="submit" class="btn btn-primary">Elminar</button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-12 col-lg-4  text-turquoise-dark">

            <div class="row my-5 text-center justify-content-center">
                <i class="fas fa-10x fa-shopping-cart"></i>
            </div>
            <div class="row text-center justify-content-center">
                <h1>Precio total</h1>
            </div>
            <div class="row text-center justify-content-center">
                <h2>{{totalPrice | currency : 'CRC':'symbol-narrow':'.0-0'}}</h2>
            </div>
            <div class="row my-5 text-center justify-content-center">
                <button (click)="placeOrder()" class="btn btn-secondary"> <h3>Realizar compra</h3> </button>
            </div>

        </div>
    </div>
</div>