<div class="container-fluid p-5">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="row justify-content-center text-center">
                <h1>Carrito de Compras</h1>
            </div>
            <div class="rounded bg-turquoise">

                <div class="row p-5">
                    <div class="col-1 pt-4 text-white">
                        <i class="fas fa-circle"></i>
                    </div>
                    <div class="col-2  text-turquoise-dark">
                        <i class="fas fa-6x bg-white fa-heart rounded"></i>
                    </div>
                    <div class="col-9 pl-5 text-white">

                        <div class="row">
                            <div class="col-6">
                                <h3>Orden</h3>
                            </div>
                            <div class="col-6">
                                <h3>Picha</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h3>Para</h3>
                            </div>
                            <div class="col-6">
                                <h3>Picha</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h3>Fecha</h3>
                            </div>
                            <div class="col-6">
                                <h3>Picha</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h3>Presupuesto</h3>
                            </div>
                            <div class="col-6">
                                <h3>Picha</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6 ">
                                <button type="submit" class="btn btn-primary">Consultar</button>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-12 col-lg-4 border">
            pepe2
        </div>
    </div>
</div>