<div class="container-fluid p-5">
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="row justify-content-center">
                <h1 class="text-turquoise-dark">Crea tu cuenta</h1>
            </div>
            <div class="row justify-content-center my-5">
                <i class="fas fa-10x fa-user-circle text-turquoise-dark"></i>
            </div>
            <div class="row justify-content-center rounded bg-turquoise">

                <h3 class="text-center text-white my-5 mx-3">
                    Completa el formulario a continuación y crea tu cuenta de love&hope.
                    <br>
                    <i class="fas fa-3x fa-heart mt-3"></i>
                </h3>

            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="sign-up-form">
                <h1>Información de la cuenta</h1>
                <form action="">
                    <div class="form-group text-turquoise-dark">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="form-control">
                        <label for="name">Correo electrónico</label>
                        <input id="name" type="text" class="form-control">
                        <label for="name">Fecha de nacimiento</label>
                        <input id="name" type="text" class="form-control">
                        <label for="name">Dirección</label>
                        <input id="name" type="text" class="form-control">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>