.btn-primary {
    background-color: #006B7A;
    color: white;
    font-weight: bold;
    border-color: #006B7A;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #003B49;
    border-color: #003B49;
    /*set the color you want here*/
}