<div class="container-fluid p-5">
    <div class="row d-flex">
        <div class="col-12 col-lg-8  ">
            <div class="row">
                <img src="assets/images/home_banner.jpg" class="img-fluid banner banner" alt="Responsive image">
            </div>

            <div class="row d-flex justify-content-center">
                <div class="card bg-turquoise p-4 mt-4 text-white text-center">
                    <div class="card-title"><h2>¿Quiénes somos?</h2></div>
                    <div class="card-body px-5">
                        <h4>En love&hope buscamos crear el regalo perfecto que necesitas para esa persona especial, 
                          por lo que cada una de nuestras bandejas es única y se adapta a tus necesidades. 
                          Solicita la tuya y disfruta de lo que love&hope tiene preparado para ti. 
                        </h4>
                    </div>
                  </div>
            </div>

        </div>
        <div class="col-12 col-lg-4 mt-3 mt-md-0">
            <div class="card user-card text-white bg-turquoise">
                <div class="card-body text-center">
                    <i class="fas fa-10x fa-info-circle my-3"></i>
                    <div class="text-left pl-3 mt-4">
                        <h2>Correo electrónico</h2>
                        <h4><a href = "mailto:psolucionesmas@hotmail.com" style="color: white">psolucionesmas@hotmail.com</a></h4>
                        <br>
                        <h2>Número telefónico</h2>
                        <h4><a href = "tel:+50687340532" style="color: white">+506 8734 0532</a></h4>
                        <br>
                        <h2>Correo electrónico</h2>
                        <h4>Lunes - Sábado / 9:00 am - 5:00 pm</h4>
                        <br>
                        <h2>Información de envios</h2>
                        <h4><a href = "mailto:envioslh@gmail.com">envioslh@gmail.com</a></h4>
                    </div>
                    <a href="#" class="fab fa-4x fa-facebook-square my-3"></a>
                    <a href="#" class="fab fa-4x fa-instagram-square my-3"></a>
                    <a href="#" class="fab fa-4x fa-twitter-square my-3"></a>
                    <a href="#" class="fab fa-4x fa-whatsapp-square my-3"></a>
                </div>
            </div>
        </div>

    </div>
</div>