.tray-image {
    height: 225px;
    width: 90%;
}

.tray-card {
    width: 95%;
    height: 350px;
    background-color: #006B7A;
    border-radius: 15px;
}

.tray-btn {
    width: 225px;
    background-color: white;
    color: #006B7A;
    font-size: 25px;
    font-weight: bold;
}

.btn-primary {
    width: 200px;
    background-color: white;
    color: #006B7A;
    font-size: 25px;
    font-weight: bold;
    border-color: white;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #003B49;
    border-color: #003B49;
    /*set the color you want here*/
}

.banner {
    border-radius: 300px;
    width: 20px;
}